@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf)
      format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf)
      format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf)
      format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf)
      format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf)
      format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf)
      format("opentype");
}
.ant-btn-primary {
  background: white;
  color: black;
  border-color: #d9d9d9;
}
.ant-btn-compact-item.ant-btn-primary:not([disabled])
  + .ant-btn-compact-item.ant-btn-primary:not([disabled]):before {
  background: #d9d9d9;
  color: black;
  border-color: #d9d9d9 !important;
}

.ant-btn-primary:hover {
  background: white !important;
  color: black !important;
  border-color: black;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR";
}
.layout {
  display: grid;
  grid-template-columns: repeat(3, minmax(calc(33.333% - 10px), auto));
  gap: 10px;
}
.layout2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(calc(50% - 10px), auto));
  gap: 10px;
}

.section-layout {
  background: white;
  padding: 2rem 2rem;
  @apply rounded-xl;
}

.ant-result-success {
  @apply section-layout border shadow-md max-w-2xl w-full  m-auto;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: black !important;
  font-weight: 500;
}
.font-13 {
  font-size: 13px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: 100%;
}

.main-section-title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.045em;
}

.mystore-banner-wrap:hover .mystore-banner-btn {
  opacity: 1;
}

.mystore-banner-btn {
  opacity: 0;
  transition: all, 0.3;
}
.mystore-profile:hover .mystore-banner-btn {
  opacity: 1;
}

.ant-tabs-nav {
  /* width: fit-content;   */
}
.ant-tabs-tab-active .ant-tabs-tab-btn {
  font-weight: 600;
}
.store-img-wrap {
  height: 100%;
}

.store-img-wrap .mystore-img {
  padding-top: 99.285%;
}

.store-img-w {
  width: 100%;
  max-width: 204.6px;
}

.store-content-w {
  width: calc(100% - 234px);
}
